@import url("vars.3ea77e571ebb.fdb61346f186.d3825ae366a5.css");

/* For desktop: */
@media only screen and (min-width: 1200px) {
  /*Header*/
  img.header{width: 100%;}
  a.headerBtn{
      position: relative;
      margin: 4px;
      left: 14%;
      bottom: 112px;
    }
  img.headerImg{width: 100px;}

  /*Sticky Nav*/
  nav{
    text-align: right;
    position: sticky;
    z-index: 1;
    top: 25px;
  }
  a.stickyNav{
    color: blue;
    font-size: 25px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid blue;
    border-radius: 25px;
    padding: 10px;
    transition: color .5s, border .5s;
  }
  a.stickyNav:hover{
    color: black;
    border: 2px solid black;
  }
  a.stickyNav:active{
    transition: color 0s, border 0s;
    color: red;
    border: 2px solid red;
  }

  /*Index: Tab Feature*/
  body.pc h1{
    font-family: var(--b);
    font-size: 50px;
  }
  button.btn{background: grey; border: 2px solid black;}
  button.btn:hover{cursor: pointer;}
  body.pc .content{display: none;}
  body.pc #tab1{
    background: red;
    border: 2px solid black;
  }
  body.pc #tab2{
    background: orange;
    border: 2px solid black;
  }
  body.pc #tab3{
    background: green;
    border: 2px solid black;
  }


  footer{
    font-family: var(--f);
    font-variant: small-caps;
    font-family: 20px;
    width: 100%;
    margin: 10px;
    clear: both;
  }
  footer small{width: 25%;}
  footer small a{color: yellow; text-decoration: none;}
  footer small a:hover{color: white;}
  footer small a:active{color: red;}
  footer p{font-size: 15px; clear: both;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
